<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>  
  <h2>Edit Info</h2>
  <a href="/gyms/<%= gym._id %> ">Back</a>
  <div>
    <form action="/gyms/<%= gym._id %>?_method=PUT" method="POST">
      <label>
        Name: 
        <input value="<%= gym.name %>" type="text" name="name" autocomplete="off">
      </label>
      <label>
        City: 
        <input value="<%= gym.city %>" type="text" name="city" autocomplete="off">
      </label>
      <label>
        State: 
        <input value="<%= gym.state %>" type="text" name="state" autocomplete="off">
      </label>
      <label>
        Category: 
        <input value="<%= gym.category %>" type="text" name="category" autocomplete="off">
      </label>
      <label>
        Offers group classes?
        <input <%= gym.groupClasses ? "checked" : "" %> type="checkbox" name="groupClasses">
      </label>
      <button type="submit">Save changes</button>
    </form>
  </div>
</section>

<%- include('../partials/footer') %>