<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/gyms/index.css">
<%- include('../partials/nav') %>

<main>

  <form class="mt-4 w-25" action="/gyms/search" method="POST">
        <h5>Find a gym near you</h5>
        <input class="form-control shadow" type="text" name="search" placeholder="Enter a location" autocomplete="off">
        <button class="btn btn-secondary shadow" type="submit">Search</button>
      </form> 
  
  <section>
    <h2>Recommended</h2>
    <div class="cardContainer">
      <% gyms.forEach(gym => { %>
        <a class="text-decoration-none" href="/gyms/<%= gym._id %>">
          <div class="card bg-light border-dark border border-1 shadow p-3">
              <p><strong><%= gym.recommendedBy.name %></strong> likes</p>
            <img src="<%= gym.image %>" class="img-fluid" alt="">
              <div class="card-body">
                <h1 class="card-title"><%= gym.gymName %></h1>
              </div>
          </div>
        </a>
      <% }) %>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>