<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Search Results</h1>
    <% if (search) { %>
      <h2>Results for <%= search %> </h2>
    <% } %>
    <% results.forEach(result => { %>
      <h2><%= result.name %></h2>
      <img src="<%= result.image_url %>" alt="">
      <form action="/gyms" method="POST">
        <input hidden name="gymName" value="<%= result.name %>" type="text">
        <input hidden name="image" value="<%= result.image_url %>" type="text">
        <input hidden name="city" value="<%= result.location.city %>" type="text">
        <input hidden name="state" value="<%= result.location.state %>" type="text">
        <input hidden name="yelpUrl" value="<%= result.url %>" type="text">
        <button type="submit">Recommend!</button>
      </form>
    <% }) %>
</main>

<%- include('../partials/footer') %>
