<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= title %> </h1>
  <a href="/gyms">Back</a>
	<ul>
    <li>City: <%= gym.city %> </li>
    <li>State: <%= gym.state %> </li>
    <li>Category: <%= gym.category %> </li>
    <li>Group classes: <%= gym.groupClasses ? 'Yes' : 'No' %></li>
  </ul>
  <% if (gym.author.equals(user?.profile._id)) { %>
    <a href="/gyms/<%= gym._id %>/edit">Edit Info</a>
  <% } %>  
  <%# [reviews] %> 
  <h2>Reviews</h2>
  <a href="/gyms/<%= gym._id %>/reviews/new-review">Write a Review</a>
  <% if (gym.reviews.length) { %>
    <% gym.reviews.forEach(review => { %>
    <table>
      <tr>
        <th>Title</th>
        <td><%= review.title %></td>
      </tr>
      <tr>
        <th>Review</th>
        <td><%= review.content %></td>
      </tr>
      <tr>
        <th>Rating</th>
        <td><%= review.rating %></td>
      </tr>
    </table>
    <% if (review.author.equals(user?.profile._id)) {%> 
      <a href="/gyms/<%= gym._id %>/reviews/<%= review._id %>/edit-review">Edit review</a>
    <% } %> 
    <% }) %>
  <% } else { %>
    <h3>No Reviews Yet</h3>
  <% } %>
</section>

<%- include('../partials/footer') %>